label {
    -webkit-perspective: 1000px;
    transform-style: preserve-3d;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    cursor: pointer;

}
body{
    background-image: url(imagenes/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#info{
    
    height: 70px;
}


.card {
    position: absolute;
    height: 100px;
    width: 90px;
    transform-style: preserve-3d;
    transition: all 600ms;
    z-index: 20;
}

    .card div {
        position: absolute;
        height: 100px;
        width: 90px ;
        background: #FFF;
        text-align: center;
        backface-visibility: hidden;
        border-radius: 2px;
    }

    .card .back {
        
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }



input {
    display: none;
}

:checked + .card {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}



table {
	text-align: center;
	height: 100%;
	width: 85%;
	margin-left: 100px;
}